apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "deployment-1"
  namespace: "default"
  labels:
    app: "deployment-1"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: "deployment-1"
  template:
    metadata:
      labels:
        app: "deployment-1"
    spec:
      containers:
      - name: "nginx-1"
        image: "gcr.io/$PROJECT_ID/helloworld-image:latest"